.flex {
    display:flex;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid {
    width: 1rem;
    height: 1rem;
    outline: 1px solid black;

}

.color {
    background-color: black;
}

