.inputs {
    display:flex;
    flex-direction: row;
    max-width: 30rem;
    gap: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    gap:1rem
}

html {
    background:linear-gradient(rgba(255, 255, 255, 0), blue);
}

.color {
    background-color: black;
}
